<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Visualization</title>
  </head>
  <body>
    <center>
      <h1>Visualization</h1>
      <img src="../static/count_feelsliketemperature_category_copy.png">
      <p>People in Washington D.C. more likely rent a bike when the feels-like-temperature is Warm (20-30 Celcius degree).</p>
      <p> </p>
      <img src="../static/averagecount_weekday_hour.png">
      <p>Bike rent in Weekdays (Monday - Friday) have peak hour in 8 and 17 because it used to go to work and to go home from work.</p>
      <p>Otherwise in Weekends (Saturday and Sunday), bike rent have peak hour in 13 because it mostly used to recreation.</p>
      <p> </p>
      <img src="../static/count_weathersit.png">
      <p>People in Washington D.C. mostly rent a bike where Weathersit is Clear. With average 205 bike per hour.</p>
      <p> </p>
      <img src="../static/count_season.png">
      <p>Summer Season have a highest temperature in a year and have the highest number of bike rent among all season with average 236 bike per hour.</p>
      <p> </p>
      <img src="../static/count_year_copy.png">
      <p>Number of bike rent in 2012 have more number than in 2011. This indicate number of bike rent is growing 64.87% from 2011 to 2012.</p>
      <a href="/" target="_self">
        <button style="background-color: rgb(255, 90, 95); color: whitesmoke" class="btn btn-light">
            Back to Home
        </button>
    </a>
    </center>
    









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>
